body, html {
  height: 100%;
}
.card-container {
  height: 90%;
  padding-left: 1%;
  padding-right: 1%;  
  padding-top: 5%;
  padding-bottom: 1%;
}
.card-container .card {
  float: left;
  margin: 1%;
  height: 31%;
  width: 31%;
}
.card-container .card p {
  height: 100%;
  background-color: #be311a;
  color: #ffffff;
  margin: 0;
  padding: 0;  
  display: block;

  font-weight: bold;
  font-size: 16px;
  padding: 4em 0em;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;  
}

.one-card {
  height: 90%;
  padding-left: 2%;
  padding-right: 2%;  
  padding-top: 5%;
  padding-bottom: 1%;
  display: none;
}
.one-card .card {
  float: left;
  margin: 1%;
  height: 100%;
  width: 100%;
}
.one-card .card p {
  height: 100%;
  background-color: #be311a;
  color: #be311a;
  margin: 0;
  padding: 0;  
  display: block;

  font-weight: bold;
  font-size: 10em;
  padding: 1em 0em;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;  
}


/* css */
#page-wrapper {
  width: 95%;
  background: #FFF;
  padding: 1em;
  margin: 1em auto;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

h1 {
	margin-top: 0;
}

#status {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.open {
  color: green;
}

.closed {
  color: red;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
}

ul li {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #EEE;
}

ul li:first-child {
  border-top: 1px solid #EEE;
}

ul li span {
  display: inline-block;
  width: 90px;
  font-weight: bold;
  color: #999;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sent {
  background-color: #F7F7F7;
}

.received {}

#message-form {
  margin-top: 1.5rem;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  margin-bottom: 1rem;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.6rem 1em;
  color: white;
  margin: 0 0.25rem;
  text-align: center;
  background: #BABABA;
  border-bottom: 1px solid #999;
}

button[type="submit"] {
  background: #86b32d;
  border-bottom: 1px solid #5d7d1f;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}
